<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Meta -->
    <meta
      name="description"
      content="Ebisu store offers you products from one of the most refined civilization - Japan"
    />
    <meta
      name="keywords"
      content="Ebisu, offer, promotion, Japan, Japanese culture, Japanese store"
    />

    <!-- Title -->
    <title>Ebisu</title>

    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <header><%- include("../partials/header.ejs") %></header>

    <main>
      <div class="main__container">
        <section class="cover" id="cover-section">
          <img
            src="/assets/images/homepage/cover/compressed/cover-750.jpeg"
            srcset="
              /assets/images/homepage/cover/compressed/cover-750.jpeg   750w,
              /assets/images/homepage/cover/compressed/cover-1200.jpeg 1200w,
              /assets/images/homepage/cover/compressed/cover-1500.jpeg 1500w
            "
            sizes="100vw"
            alt="Image of a Japan Garden"
            class="img cover__img"
          />

          <div class="cover__container">
            <h1 class="cover__title">Ebisu</h1>

            <div class="cover__subtitle">
              Your favorite japanese online store
            </div>

            <button class="btn btn--full cover__btn">Start Shopping</button>
          </div>
        </section>

        <section class="popular-products" id="popular-products-section">
          <h2 class="section__title section__title--color">Popular</h2>
          <h2 class="section__title">Products</h2>
          <div class="popular-products__cards-container">
            <div class="card popular-products__card">
              <img
                src="/assets/images/products/compressed/garments-600.jpeg"
                alt="Garments photo preview"
                class="img popular-products__card__img"
              />
              <div class="popular-products__card__title">Garments</div>
            </div>
            <div class="card popular-products__card">
              <img
                src="/assets/images/products/compressed/masks-600.jpeg"
                alt="Masks photo preview"
                class="img popular-products__card__img"
              />
              <div class="popular-products__card__title">Masks</div>
            </div>
            <div class="card popular-products__card">
              <img
                src="/assets/images/products/compressed/sweets-600.jpeg"
                alt="Sweets photo preview"
                class="img popular-products__card__img"
              />
              <div class="popular-products__card__title">Sweets</div>
            </div>
            <div class="card popular-products__card">
              <img
                src="/assets/images/products/compressed/tapestries-600.jpeg"
                alt="Tapestries photo preview"
                class="img popular-products__card__img"
              />
              <div class="popular-products__card__title">Tapestries</div>
            </div>
          </div>

          <button class="btn btn--full popular-products__btn">
            All Products
          </button>
        </section>

        <section class="promotions" id="promotions-section">
          <h2 class="section__title section__title--color">Promotions</h2>

          <div class="cards-slider cards-slider--promotions">
            <div class="cards-slider__btn cards-slider__btn--left">
              <img
                src="/assets/images/icons/arrow-right.svg"
                alt="Previous button image"
              />
            </div>

            <div class="cards-slider__btn cards-slider__btn--right">
              <img
                src="/assets/images/icons/arrow-right.svg"
                alt="Next button image"
              />
            </div>

            <div class="cards-slider__wrapper">
              <div class="cards-slider__container">
                <div class="card promotions__card">
                  <img
                    src="/assets/images/promos/compressed/promo_1-200.webp"
                    alt="Pocky Sweets Photo"
                    class="img promotions__card__img"
                  />
                  <div class="promotions__card__subtitle">GLICO</div>
                  <div class="promotions__card__title">
                    Pocky Sakura Matcha Chocolate
                  </div>
                  <div class="promotions__card__price-tag">$ 13.80</div>
                </div>
                <div class="card promotions__card">
                  <img
                    src="/assets/images/promos/compressed/promo_2-200.webp"
                    alt="Kit Kat Sweets Photo"
                    class="img promotions__card__img"
                  />
                  <div class="promotions__card__subtitle">Kit Kat</div>
                  <div class="promotions__card__title">
                    Yogurt Cranberry & Almond Nuts
                  </div>
                  <div class="promotions__card__price-tag">$ 9.90</div>
                </div>
                <div class="card promotions__card">
                  <img
                    src="/assets/images/promos/compressed/promo_3-200.webp"
                    alt="Manju Japanese Sweets Photo"
                    class="img promotions__card__img"
                  />
                  <div class="promotions__card__subtitle">MARUKYO</div>
                  <div class="promotions__card__title">
                    Manju Japanese Sweets Assortment 18 pcs
                  </div>
                  <div class="promotions__card__price-tag">$ 19.45</div>
                </div>
                <div class="card promotions__card">
                  <img
                    src="/assets/images/promos/compressed/promo_4-200.webp"
                    alt="Iron Teapot Photo"
                    class="img promotions__card__img"
                  />
                  <div class="promotions__card__subtitle">IWACHU</div>
                  <div class="promotions__card__title">
                    Nanbu Cast Iron Teapot Red
                  </div>
                  <div class="promotions__card__price-tag">$ 153.00</div>
                </div>
                <div class="card promotions__card">
                  <img
                    src="/assets/images/promos/compressed/promo_5-200.webp"
                    alt="Sakura Teapot Photo"
                    class="img promotions__card__img"
                  />
                  <div class="promotions__card__subtitle">HELLO KITTY</div>
                  <div class="promotions__card__title">Sakura Teapot</div>
                  <div class="promotions__card__price-tag">$ 65.00</div>
                </div>
                <div class="card promotions__card">
                  <img
                    src="/assets/images/promos/compressed/promo_6-200.webp"
                    alt="Kit Kat Banana Photo"
                    class="img promotions__card__img"
                  />
                  <div class="promotions__card__subtitle">KIT KAT</div>
                  <div class="promotions__card__title">
                    Banana Caramel Easter Break 11 Pieces
                  </div>
                  <div class="promotions__card__price-tag">$ 12.80</div>
                </div>
                <div class="card promotions__card">
                  <img
                    src="/assets/images/promos/compressed/promo_7-200.webp"
                    alt="COCA COLA Energy Photo"
                    class="img promotions__card__img"
                  />
                  <div class="promotions__card__subtitle">COCA COLA</div>
                  <div class="promotions__card__title">
                    Energy Guarana Extract Vitamins B 250ml
                  </div>
                  <div class="promotions__card__price-tag">$ 12.80</div>
                </div>
                <div class="card promotions__card">
                  <img
                    src="/assets/images/promos/compressed/promo_8-200.webp"
                    alt="Craftsman Drip Coffee Photo"
                    class="img promotions__card__img"
                  />
                  <div class="promotions__card__subtitle">UCC</div>
                  <div class="promotions__card__title">
                    Craftsman Drip Coffee Deep & Rich Mocha Blend 7g x 100pcs
                  </div>
                  <div class="promotions__card__price-tag">$ 79.90</div>
                </div>
              </div>
            </div>
          </div>

          <button class="btn btn--full promotions__btn">
            Browse Promotions
          </button>
        </section>

        <section class="categories" id="categories-section">
          <h2 class="section__title section__title--color">categories</h2>
          <div class="categories__cards-container">
            <div class="categories__card">
              <img
                class="categories__card__bg"
                src="/assets/images/categories/compressed/garments-650.jpeg"
                alt="__category__ Representative Image"
              />
              <div class="categories__card__title">Garments</div>
              <div class="categories__card__btn">
                <img
                  src="/assets/images/icons/arrow-right-circle-white.svg"
                  alt="Arrow button image"
                  class="categories__card__btn__img"
                />
              </div>
            </div>
            <div class="categories__card">
              <img
                class="categories__card__bg"
                src="/assets/images/categories/compressed/footwear-650.jpeg"
                alt="__category__ Representative Image"
              />
              <div class="categories__card__title">Traditional Footwear</div>
              <div class="categories__card__btn">
                <img
                  src="/assets/images/icons/arrow-right-circle-white.svg"
                  alt="Arrow button image"
                  class="categories__card__btn__img"
                />
              </div>
            </div>
            <div class="categories__card">
              <img
                class="categories__card__bg"
                src="/assets/images/categories/compressed/masks-650.jpeg"
                alt="__category__ Representative Image"
              />
              <div class="categories__card__title">Masks</div>
              <div class="categories__card__btn">
                <img
                  src="/assets/images/icons/arrow-right-circle-white.svg"
                  alt="Arrow button image"
                  class="categories__card__btn__img"
                />
              </div>
            </div>
            <div class="categories__card">
              <img
                class="categories__card__bg"
                src="/assets/images/categories/compressed/sweets-650.jpeg"
                alt="__category__ Representative Image"
              />
              <div class="categories__card__title">Sweets & Tea</div>
              <div class="categories__card__btn">
                <img
                  src="/assets/images/icons/arrow-right-circle-white.svg"
                  alt="Arrow button image"
                  class="categories__card__btn__img"
                />
              </div>
            </div>
            <div class="categories__card">
              <img
                class="categories__card__bg"
                src="/assets/images/categories/compressed/books-manga-650.jpeg"
                alt="__category__ Representative Image"
              />
              <div class="categories__card__title">Books & Manga</div>
              <div class="categories__card__btn">
                <img
                  src="/assets/images/icons/arrow-right-circle-white.svg"
                  alt="Arrow button image"
                  class="categories__card__btn__img"
                />
              </div>
            </div>
            <div class="categories__card">
              <img
                class="categories__card__bg"
                src="/assets/images/categories/compressed/figures-650.jpeg"
                alt="__category__ Representative Image"
              />
              <div class="categories__card__title">Figures</div>
              <div class="categories__card__btn">
                <img
                  src="/assets/images/icons/arrow-right-circle-white.svg"
                  alt="Arrow button image"
                  class="categories__card__btn__img"
                />
              </div>
            </div>
            <div class="categories__card">
              <img
                class="categories__card__bg"
                src="/assets/images/categories/compressed/tapestries-650.jpeg"
                alt="__category__ Representative Image"
              />
              <div class="categories__card__title">Tapestries</div>
              <div class="categories__card__btn">
                <img
                  src="/assets/images/icons/arrow-right-circle-white.svg"
                  alt="Arrow button image"
                  class="categories__card__btn__img"
                />
              </div>
            </div>
          </div>
        </section>

        <section class="books-showcase" id="books-showcase-section">
          <h2 class="section__title section__title--color">Books & Manga</h2>

          <div class="cards-slider cards-slider--books-showcase">
            <div class="cards-slider__btn cards-slider__btn--left">
              <img
                src="/assets/images/icons/arrow-right.svg"
                alt="Previous button image"
              />
            </div>

            <div class="cards-slider__btn cards-slider__btn--right">
              <img
                src="/assets/images/icons/arrow-right.svg"
                alt="Next button image"
              />
            </div>

            <div class="cards-slider__wrapper">
              <div class="cards-slider__container">
                <div class="card books-showcase__card">
                  <img
                    src="/assets/images/books/compressed/book_1-200.jpeg"
                    alt="Jujutsu Kaisen Manga Cover Photo"
                    class="img books-showcase__card__img"
                  />
                  <div class="books-showcase__card__author">Shueisha</div>
                  <div class="books-showcase__card__title">
                    Weekly Shonen Jump Magazine No. 14 2021
                  </div>
                  <div class="books-showcase__card__price-tag">$ 10.00</div>
                </div>
                <div class="card books-showcase__card">
                  <img
                    src="/assets/images/books/compressed/book_2-200.jpeg"
                    alt="Naruto Manga Cover Photo"
                    class="img books-showcase__card__img"
                  />
                  <div class="books-showcase__card__author">
                    Masashi Kishimoto
                  </div>
                  <div class="books-showcase__card__title">
                    Naruto Vol. 3 Episodes 81-135
                  </div>
                  <div class="books-showcase__card__price-tag">$ 18.00</div>
                </div>
                <div class="card books-showcase__card">
                  <img
                    src="/assets/images/books/compressed/book_3-200.jpeg"
                    alt="Jujutsu Kaisen Manga Cover Photo"
                    class="img books-showcase__card__img"
                  />
                  <div class="books-showcase__card__author">Gege Akutami</div>
                  <div class="books-showcase__card__title">
                    Jujutsu Kaisen Vol. 1 (Paperback)
                  </div>
                  <div class="books-showcase__card__price-tag">$ 14.99</div>
                </div>
                <div class="card books-showcase__card">
                  <img
                    src="/assets/images/books/compressed/book_4-200.jpeg"
                    alt="Assasination Classroom Manga Cover Photo"
                    class="img books-showcase__card__img"
                  />
                  <div class="books-showcase__card__author">Yusei Matsui</div>
                  <div class="books-showcase__card__title">
                    Assasination Classroom Vol. 1
                  </div>
                  <div class="books-showcase__card__price-tag">$ 14.00</div>
                </div>
                <div class="card books-showcase__card">
                  <img
                    src="/assets/images/books/compressed/book_5-200.jpeg"
                    alt="Chainsaw Man Manga Cover Photo"
                    class="img books-showcase__card__img"
                  />
                  <div class="books-showcase__card__author">
                    Tatsuki Fujimoto
                  </div>
                  <div class="books-showcase__card__title">
                    Chainsaw Man Vol. 1
                  </div>
                  <div class="books-showcase__card__price-tag">$ 14.99</div>
                </div>
                <div class="card books-showcase__card">
                  <img
                    src="/assets/images/books/compressed/book_6-200.jpeg"
                    alt="Chainsaw Man Manga Cover Photo"
                    class="img books-showcase__card__img"
                  />
                  <div class="books-showcase__card__author">
                    Tatsuki Fujimoto
                  </div>
                  <div class="books-showcase__card__title">
                    Chainsaw Man Vol. 5
                  </div>
                  <div class="books-showcase__card__price-tag">$ 14.99</div>
                </div>
                <div class="card books-showcase__card">
                  <img
                    src="/assets/images/books/compressed/book_7-200.jpeg"
                    alt="Attack on Titan Manga Cover Photo"
                    class="img books-showcase__card__img"
                  />
                  <div class="books-showcase__card__author">Hajime Isayama</div>
                  <div class="books-showcase__card__title">
                    Attack on titan Vol. 32 (Paperback)
                  </div>
                  <div class="books-showcase__card__price-tag">$ 18.99</div>
                </div>
                <div class="card books-showcase__card">
                  <img
                    src="/assets/images/books/compressed/book_8-200.jpeg"
                    alt="Boruto Manga Cover Photo"
                    class="img books-showcase__card__img"
                  />
                  <div class="books-showcase__card__author">
                    Masashi Kishimoto
                  </div>
                  <div class="books-showcase__card__title">
                    Boruto Vol. 10 (Paperback)
                  </div>
                  <div class="books-showcase__card__price-tag">$ 15.99</div>
                </div>
              </div>
            </div>
          </div>

          <button class="btn btn--full books-showcase__btn">
            Books Library
          </button>
        </section>

        <section class="articles" id="articles-section">
          <h2 class="section__title section__title--color">Articles</h2>
          <div class="articles__cards-container">
            <div class="articles__card">
              <img
                class="articles__card__img"
                src="/assets/images/articles/compressed/ebisu-300.jpeg"
                alt="__Article-name__ Cover Image"
              />

              <div class="articles__card__title">
                Ebisu the Japanese god of fishermen and luck
              </div>
              <div class="articles__card__published-date">
                Published on 23 Feb 2022
              </div>

              <div class="articles__card__description">
                <i lang="ja">Ebisu</i>(<i lang="ja">えびす</i>), also
                transliterated <i lang="ja">Webisu</i> or called
                <i lang="ja">Hiruko</i> or
                <i lang="ja">Kotoshiro-nushi-no-kami</i>, is the Japanese god of
                fishermen and luck. He is one of the Seven Gods of Fortune, and
                the only one of the seven to originate purely from Japan without
                any Buddhist or Taoist influence. In Japanese mythology, the
                Seven Lucky Gods or Seven Gods of Fortune (<i lang="ja"
                  >七福神 - Shichi Fukujin</i
                >) are believed to grant good luck and are often represented in
                <i lang="ja">netsuke</i> (a miniature sculpture) and in
                artworks.
              </div>

              <button class="articles__card__btn">
                Continue reading
                <img
                  src="/assets/images/icons/arrow-right-green.svg"
                  alt="Arrow Icon"
                  class="articles__card__btn__img"
                />
              </button>
            </div>
            <div class="articles__card">
              <img
                class="articles__card__img"
                src="/assets/images/articles/compressed/green-tea-300.jpeg"
                alt="__Article-name__ Cover Image"
              />

              <div class="articles__card__title">
                Green Tea - A Japanese Tradition
              </div>
              <div class="articles__card__published-date">
                Published on 12 Mar 2022
              </div>

              <div class="articles__card__description">
                Let's talk about tea. Tea is a common beverage for the
                Japanese—the Japanese loves a cup of hot tea to relax after a
                meal and often grabs one of many kinds of bottled tea at a
                convenience store or from a vending machine to keep hydrated
                throughout the day. For the Japanese, the quality of the hot tea
                served with the oshibori hot towel at a restaurant is indicative
                of the quality of the food to follow.
              </div>

              <button class="articles__card__btn">
                Continue reading
                <img
                  src="/assets/images/icons/arrow-right-green.svg"
                  alt="Arrow Icon"
                  class="articles__card__btn__img"
                />
              </button>
            </div>
            <div class="articles__card">
              <img
                class="articles__card__img"
                src="/assets/images/articles/compressed/manga-300.jpeg"
                alt="__Article-name__ Cover Image"
              />

              <div class="articles__card__title">
                The Impact of Manga and Anime
              </div>
              <div class="articles__card__published-date">
                Published on 20 Mar 2022
              </div>

              <div class="articles__card__description">
                Of all the unique art forms Japan has given to global pop
                culture, perhaps the most instantly recognizable is manga, and
                its “moving image” counterpart, anime. Characters like Astro
                Boy, Speed Racer, and Sailor Moon have become as ubiquitous as
                Mickey Mouse, adorning backpacks, toys, and lunchboxes
                worldwide. The pioneering cyberpunk visions of “Akira” and
                “Ghost in the Shell” shaped global science fiction, and past
                Academy Awards for anime director Hayao Miyazaki show that
                “cartoons” can be embraced as “high art”. JAPAN HOUSE Los
                Angeles hosted "This is Manga", the first North American
                exhibition of the influential manga artist Naoki Urasawa, which
                drew wide audiences and fans from students to major Hollywood
                directors. So how did manga evolve into an international
                phenomenon?
              </div>

              <button class="articles__card__btn">
                Continue reading
                <img
                  src="/assets/images/icons/arrow-right-green.svg"
                  alt="Arrow Icon"
                  class="articles__card__btn__img"
                />
              </button>
            </div>
            <div class="articles__card">
              <img
                class="articles__card__img"
                src="/assets/images/articles/compressed/samurai-300.jpeg"
                alt="__Article-name__ Cover Image"
              />

              <div class="articles__card__title">
                Samurai and "the way of the warrior"
              </div>
              <div class="articles__card__published-date">
                Published on 27 Mar 2022
              </div>

              <div class="articles__card__description">
                For those interested in Japanese history, samurai culture and
                the role this military class played in shaping Japan is a
                fascinating one. Although samurai no longer exist, the influence
                of these great warriors still manifests itself deeply in
                Japanese culture and samurai heritage can be seen all over Japan
                - be it a great castle, a carefully planned garden, or
                beautifully preserved samurai residences. It is also deeply
                ingrained in the psyche of the Japanese people.
              </div>

              <button class="articles__card__btn">
                Continue reading
                <img
                  src="/assets/images/icons/arrow-right-green.svg"
                  alt="Arrow Icon"
                  class="articles__card__btn__img"
                />
              </button>
            </div>
          </div>

          <button class="btn btn--full articles__btn">All articles</button>
        </section>

        <section class="tasks" id="tasks-section">
          <h2 class="tasks__title section__title section__title--color">
            Tasks
          </h2>

          <section class="info">
            <h3 class="info__title section__title">Useful informations</h3>

            <details>
              <summary><em> How fast does the shipment arrive? </em></summary>
              <p>
                It may take up to <strong>3-5 business</strong> days to ship out
                the merchandise due to check/money order clearance.
              </p>
            </details>

            <details>
              <summary>
                <em>
                  I'm trying to make a present. Could you wrap my products?
                </em>
              </summary>
              <p>Yes. Wrapping is <strong>free</strong>.</p>
              <p>
                Before you confirm the delivery you can check the field called
                "Gift wrapping".
              </p>
            </details>

            <details>
              <summary>
                <em>I don't like the product. Can I return it?</em>
              </summary>
              <p>Yes. Returning the shipment is free.</p>
              <p>
                You have <strong>30 days</strong> to complete a return paper.
              </p>
            </details>
          </section>

          <hr class="tasks__hr-break" />

          <section class="iframe">
            <!-- TODO - Move to Articles -->
            <h3 class="iframe__title section__title">iFrames & Links</h3>
            <div class="iframe__container">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/103UcKj8A8I?&mute=1&playlist=103UcKj8A8I"
                title="Video with Toka-Ebisu Festival from Osaka"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                name="ifr"
              >
              </iframe>
              <div class="iframe__btn__container">
                <a
                  class="iframe__btn btn--transparent"
                  target="ifr"
                  href="https://www.youtube.com/embed/103UcKj8A8I"
                  >Toka-Ebisu Festival from Osaka</a
                >
                <a
                  class="iframe__btn btn--transparent"
                  target="ifr"
                  href="https://www.youtube.com/embed/7cpwMeF4ERM"
                  >Toka-Ebisu Festival from Kyoto</a
                >
              </div>
            </div>
            <div class="iframe__source">
              <p class="iframe__source__title">
                Read more:
                <a
                  target="_blank"
                  href="https://kansaiguide.jp/rt/eng/event/detail/?item_id=ENT0000027"
                  >https://kansaiguide.jp/rt/eng/event/detail/?item_id=ENT0000027
                </a>
              </p>
            </div>
          </section>

          <hr class="tasks__hr-break" />

          <section class="layout-date">
            <h3 class="layout-date__title section__title">Layout Data</h3>
            <p class="layout-date__text">Your IP is:</p>
            <p class="layout-date__ip"><%- locals.ip %></p>
          </section>

          <hr class="tasks__hr-break" />

          <section class="table-section">
            <h3 class="table__title section__title">Table task</h3>

            <div class="table__wrapper">
              <table class="tasks__table">
                <caption>
                  Some Table
                </caption>
                <thead>
                  <tr>
                    <th></th>
                    <th>Head 1</th>
                    <th>Head 2</th>
                    <th>Head 3</th>
                    <th>Head 4</th>
                    <th>Head 5</th>
                    <th>Head 6</th>
                    <th>Head 7</th>
                    <th>Head 8</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="2">Body Data</td>
                    <td>Data 1.1</td>
                    <td>Data 1.2</td>
                    <td>Data 1.3</td>
                    <td>Data 1.4</td>
                    <td>Data 1.5</td>
                    <td>Data 1.6</td>
                    <td>Data 1.7</td>
                    <td>Data 1.8</td>
                  </tr>

                  <tr>
                    <td style="display: none">Row 2 Data</td>
                    <td>Data 2.1</td>
                    <td>Data 2.2</td>
                    <td>Data 2.3</td>
                    <td>Data 2.4</td>
                    <td>Data 2.5</td>
                    <td>Data 2.6</td>
                    <td>Data 2.7</td>
                    <td>Data 2.8</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>Footer Data</td>
                    <td>Footer 1</td>
                    <td>Footer 2</td>
                    <td>Footer 3</td>
                    <td>Footer 4</td>
                    <td>Footer 5</td>
                    <td>Footer 6</td>
                    <td>Footer 7</td>
                    <td>Footer 8</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </section>

          <hr class="tasks__hr-break" />

          <section class="video-player__container">
            <h3 class="video-player__title section__title">Mount Fuji Video</h3>
            <video
              class="video-player__video"
              controls
              preload="metadata"
              poster="/assets/videos/homepage/posters/video1_poster.jpg"
            >
              <source
                src="/assets/videos/homepage/video1.mp4"
                type="video/mp4"
              />
              <source
                src="/assets/videos/homepage/video1.ogv"
                type="video/ogv"
              />

              <track
                default
                src="/assets/videos/homepage/tracks/caption_video1_ro.vtt"
                kind="captions"
                srclang="ro"
                label="romană"
              />
              <track
                src="/assets/videos/homepage/tracks/caption_video1_en.vtt"
                kind="captions"
                srclang="en"
                label="engleză"
              />
            </video>
          </section>

          <hr class="tasks__hr-break" />

          <%- include('../partials/static-gallery.ejs') %>
        </section>

        <section class="website-services">
          <h2 class="section__title section__title--color"></h2>
          <div class="website-services__cards-container">
            <div class="website-services__card">
              <img
                src="/assets/images/homepage/1.png"
                alt="Service Image"
                class="website-services__card__img"
              />
              <div class="website-services__card__text">
                Premium Quality Guaranteed
              </div>
            </div>
            <div class="website-services__card">
              <img
                src="/assets/images/homepage/2.png"
                alt="Service Image"
                class="website-services__card__img"
              />
              <div class="website-services__card__text">
                Free delivery for orders over 150 RON
              </div>
            </div>
            <div class="website-services__card">
              <img
                src="/assets/images/homepage/3.png"
                alt="Service Image"
                class="website-services__card__img"
              />
              <div class="website-services__card__text">
                Delivery in 48 hours
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <footer><%- include("../partials/footer.ejs") %></footer>
  </body>
</html>
