<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Meta -->
    <meta
      name="description"
      content="Ebisu store offers you products from one of the most refined civilization - Japan"
    />
    <meta
      name="keywords"
      content="Ebisu, offer, promotion, Japan, Japanese culture, Japanese store"
    />

    <!-- Title -->
    <title>Ebisu - <%-locals.product.name%></title>

    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <header><%- include("../partials/header.ejs") %></header>

    <main>
      <div class="main--product">
        <section class="product__container">
          <img
            src="<%-locals.product.img_path%>"
            alt="Product ALT TODO"
            class="img product__img"
          />

          <h2 class="section__title section__title--color product__title">
            <%-locals.product.name%>
          </h2>

          <div class="product__description">
            <%-locals.product.description%>
          </div>

          <div class="product__category">
            <div class="product__data__title">Category</div>
            <span class="product__data__content"
              ><%-locals.product.category%></span
            >
          </div>

          <div class="product__subcategory">
            <div class="product__data__title">Subcategory</div>
            <span class="product__data__content"
              ><%-locals.product.subcategory%></span
            >
          </div>

          <div class="product__price">
            <div class="product__data__title">Price</div>
            <span class="product__data__content"
              ><%-locals.product.price%></span
            >
          </div>

          <div class="product__number-char">
            <div class="product__data__title">Number-Char</div>
            <span class="product__data__content"
              ><%-locals.product.number_char%></span
            >
          </div>

          <div class="product__date-char">
            <div class="product__data__title">Data-Char</div>
            <span class="product__data__content"
              ><%-locals.product.date_char%></span
            >
          </div>

          <div class="product__unique-char">
            <div class="product__data__title">Unique-Char</div>
            <span class="product__data__content"
              ><%-locals.product.unique_char%></span
            >
          </div>

          <div class="product__vector-char">
            <div class="product__data__title">Vector-Char</div>
            <span class="product__data__content"
              ><%-locals.product.vector_char%></span
            >
          </div>

          <div class="product__in-stock">
            <div class="product__data__title">In-Stock</div>
            <span class="product__data__content"
              ><%-locals.product.in_stock%></span
            >
          </div>
        </section>
      </div>
    </main>

    <footer><%- include("../partials/footer.ejs") %></footer>
  </body>
</html>
